@using DansLesGolfs
@{
    Layout = "~/Views/_Shared/MP/Front/_Default.cshtml";
    var User = (DansLesGolfs.BLL.User)ViewBag.User;
}

@section head
{
    <link href="@Url.Content("~/Assets/Libraries/fancybox/source/jquery.fancybox.css")" rel="stylesheet" />
    <script>
        window.itemType = '@ViewBag.ItemType';
    </script>
}

@section foot
{
    <script src="@Url.Content("~/Assets/Libraries/fancybox/source/jquery.fancybox.js")"></script>
    <script src="@Url.Content("~/Assets/Libraries/bootstrap-starrr/bootstrap.starrr.js")"></script>
    <script src="@Url.Content("~/Assets/Front/scripts/product-search.js")"></script>
    <script>
        jQuery(document).ready(function ($) {
            $('#dlg-item-detail-popup-link').fancybox({
                padding: 0
            });

            $('.product a').click(function (e) {
                var $product = $(this).parents('.product');
                var id = $product.data('id');
                $.ajax({
                    url: getUrl('ItemAjax/GetDLGItemDetail'),
                    data: { itemId: id },
                    dataType: 'json',
                    type: 'post',
                    success: function (result) {
                        if (result.isSuccess) {
                            openDLGDetailPopup(result.html, e);
                        }
                    }
                });
            });
        });

        function openDLGDetailPopup(html, e) {
            jQuery('#dlg-item-detail-popup').html(html);
            jQuery(".starrr").starrr();
            jQuery('#dlg-item-detail-popup-link').trigger('click');
        }
    </script>
}

<div id="page-card-dashboard">

    <div class="row margin-bottom-40">

        <div class="col-md-12">
            <div class="card-box">

                <div class="card-box-form">

                    <div class="card-box-form-title">
                        <h3>Offrez la DLG Card</h3>
                    </div>

                    <div class="card-box-text">
                        La <span class="card-box-text-hightlight card-box-text-bold ">DLG Card</span> est une carte cadeau  à utiliser exclusivement sur <span class="card-box-text-hightlight">DansLesGolfs.com</span>.
                    </div>
                    <div class="card-box-text">
                        Vous pouvez l'offrir à l’ensemble de vos proches. S’ils ne connaissent pas encore DansLesGolfs.com, invitez-les à nous rejoindre en vous rendant dans la rubrique  @Html.ActionLink("Parrainage", "Sponsorship", "Account") Ils deviendront ainsi vos filleuls et pourront profiter de tous les avantages de DansLesGolfs.com.
                    </div>

                    <div class="card-box-text">
                        Grâce à la <span class="card-box-text-hightlight card-box-text-bold">DLG Card</span>, vous êtes sûr de faire plaisir à vos proches en leur offrant un cadeau 100% Golf parmi  un large choix d’offres: Green fees, Séjours, Stages, Cartes de practice, Matériel… aux meilleurs prix.
                    </div>

                    <div class="card-box-text">
                        La <span class="card-box-text-hightlight card-box-text-bold">DLG Card</span> est entièrement personnalisable :
                    </div>

                    <div class="card-box-text card-box-tab">
                        <ul class="card-box-text-list">
                            <li><span class="card-box-text-hightlight">•</span> Choix du montant souhaité par multiples de <span class="card-box-text-hightlight card-box-text-bold">20€</span> ou <span class="card-box-text-hightlight card-box-text-bold">100€</span></li>
                            <li><span class="card-box-text-hightlight">•</span> E-Card , réception immédiate par e-mail <span style="display: none;">
    ou dans sa pochette cadeau à domicile
    <br />(coût supplémentaire de 5€)
</span></li>
                            <li><span class="card-box-text-hightlight">•</span> Sélection d'une thématique</li>
                            <li><span class="card-box-text-hightlight">•</span> Ajout d'un message personnel</li>
                       </ul>
                    </div>

                    <div class="card-box-button-dlgcard">
                        @Html.ActionLink("> Offrez la DlG Card", "DlgOrder", "DLGCard", new { }, new { @class = "btn btn-primary" })
                        @*<button type="button" class="btn btn-primary">> Offrez la DlG   Card</button>*@
                    </div>

                     <div class="card-box-form-title">
                        <h3>Utilisation de la DLG Card</h3>
                    </div>

                    <div class="card-box-text-list">
                        <ul class="card-box-nontab">
                            <li>
                                  <span class="card-box-text-hightlight card-box-text-size-header">1.</span> Vous bénéficiez d'un an pour utiliser votre <span class="card-box-text-hightlight card-box-text-bold">DLG Card</span>, à compter de sa date d'activation.
                            </li>
                             <li>
                                  <span class="card-box-text-hightlight card-box-text-size-header">2.</span> Vous avez la liberté d'utiliser votre <span class="card-box-text-hightlight card-box-text-bold">DLG Card</span> sur les ventes de votre choix. Une fois dans le récapitulatif de commande, il vous suffit de sélectionner le montant de votre carte cadeau qui sera déduit automatiquement du total de votre commande.
                            </li>
                             <li>
                                  <span class="card-box-text-hightlight card-box-text-size-header">3.</span> La carte cadeau est utilisable par multiples de <span class="card-box-text-hightlight">20€</span> ou de <span class="card-box-text-hightlight">100€</span>: vous pouvez donc l'utiliser sur une seule commande ou la fractionner sur plusieurs commandes.
                            </li>
                        </ul>

                    </div>

                    <div class="card-box-nontab card-box-padding-text">
                        Vous êtes l'heureux destinataire d'une <span class="card-box-text-hightlight card-box-text-bold">DLG Card</span> ?
                    </div>

                    <div class="card-box-nontab card-box-padding-text">
                        Retrouvez-la dans @Html.ActionLink("Mon compte", "Index", "Account") &nbsp; / &nbsp; @Html.ActionLink("Mes bons d'achat et bons de réduction", "CouponsAndDiscounts", "Account")
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>
