@using DansLesGolfs.BLL
@using System.Globalization
@model DansLesGolfs.BLL.Order
@{
    Layout = "~/Views/_Shared/MP/_EmailTemplate.cshtml";
    decimal basetotal = Model.GetBaseTotal();
    decimal totalDiscount = Model.GetDiscount();
    decimal totalShippingCost = Model.GetTotalShippingCost();
    decimal totalPrice = Model.GetTotalPrice();
}
@section head
{
}
@section foot
{
}
<p>@Resources.Hello @ViewBag.LogonUserFirstName</p>
<p>@Resources.WeSaveYourOrder @ViewBag.PaymentType.<br /><br /></p>
<p><img src="@Url.ServerUrl("~/Assets/Front/img/email/cut_up.png")"></p>
<p>@Resources.Order N° <strong style="font-weight: bold;">@Model.OrderNumber</strong> <span style="text-transform: lowercase;">@Resources.From</span> @Model.OrderDate.ToString("dd/MM/yyyy")</p>
<p>@Resources.AmountOfYourOrder <strong style="font-weight: bold;">@totalPrice.ToString("0.00", CultureInfo.InvariantCulture) EURO TTC</strong></p>
<p>@Resources.HereIsTheSummaryOfYourOrder :</p>
<p>
    <table style="width: 100%">
        <thead>
            <tr>
                <td style="padding: 10px 5px; text-transform: capitalize;">@Resources.Description (Ref.)</td>
                <td style="padding: 10px 5px; text-transform: capitalize;">@Resources.UnitAmount</td>
                <td style="padding: 10px 5px; text-transform: capitalize;">@Resources.Quantity</td>
                <td style="padding: 10px 5px; text-transform: capitalize;">@Resources.TotalAmount</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderItems)
            {
                <tr>
                    <td style="padding: 10px 5px;">@item.ItemName</td>
                    <td style="padding: 10px 5px; text-align: right;">@item.UnitPrice.ToString("0.00") &euro;</td>
                    <td style="padding: 10px 5px; text-align: right;">@item.Quantity</td>
                    <td style="padding: 10px 5px; text-align: right;">@item.TotalBasePrice.ToString("0.00") &euro;</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" style="font-size:0.9em; text-align: right; font-weight: bold">@Resources.SubTotal</td>
                <td style="font-size:0.9em; text-align: right;">@basetotal.ToString("0.00") &euro;</td>
            </tr>
            @if (totalDiscount > 0)
            {
                <tr>
                    <td colspan="3" style="font-size:0.9em; text-align: right; font-weight: bold">@Resources.Discount</td>
                <td style="font-size:0.9em; text-align: right;">- @totalDiscount.ToString("0.00") &euro;</td>
            </tr>
            }
            <tr>
                <td colspan="3" style="font-size:0.9em; text-align: right; font-weight: bold">@Resources.ShippingCost</td>
                <td style="font-size:0.9em; text-align: right;">@totalShippingCost.ToString("0.00") &euro;</td>
            </tr>
            <tr>
                <td colspan="3" style="font-size:0.9em; text-align: right; font-weight: bold">Total TTC</td>
                <td style="font-size:0.9em; text-align: right;">@totalPrice.ToString("0.00") &euro;</td>
            </tr>
        </tfoot>
    </table>
</p>
<p><img src="@Url.ServerUrl("~/Assets/Front/img/email/cut_down.png")"></p>
<p>@Resources.IfYouWantToDownlodYourInvoice, <a href="@Url.ServerUrl("~/Account/ViewOrderInvoice/" + Model.OrderId)" style="color: #d80927">@Resources.ClickHere</a></p>
<p>@Resources.YouCanDirectMonitorYourOrder<br /><a href="@Url.ServerUrl("~/")" style="color: #d80927">@ViewBag.SiteUrl</a> @Resources.InSection "<a href="@Url.ServerUrl("~/Account/Orders")" style="color: #d80927">@Resources.MyAccount</a>"</p>
<p>@Resources.ThankYouForYourConfidence.</p>