@{
    ViewBag.Title = Resources.PaymentFailed;
    Layout = "~/Views/_Shared/MP/Front/_Default.cshtml";
}
@section head
{
}
@section foot
{
}
<div id="page-order-payment-failed" class="margin-bottom-40">
    <div class="row">
        <div class="col-centered col-md-12">
            <h1 class="page-title">@Resources.MyCart</h1>
            @Html.Partial("~/Views/_Shared/UC/Front/Order/UCPaymentProcess.cshtml", 4)
            <p>@Resources.PaymentFailedDescription</p>
        </div>
    </div>
    <div class="row">
        <div class="col-centered col-md-2">
            <a href="@Url.Content("~/")" id="back-to-shopping-button" class="btn btn-default">@Resources.BackToShopping</a>
        </div>
    </div>
</div>