@model System.Int32
@{

}
<ul id="payment-process" class="process-@Model">
    <li class="process-1"><a href="@Url.Content("~/Cart")">@Resources.Cart</a></li>
    <li class="process-2"><a href="@Url.Content("~/Order/Identification")">@Resources.Identification</a></li>
    <li class="process-3"><a href="@Url.Content("~/Order/Shipping")">@Resources.Shipping</a></li>
    <li class="process-4"><a href="@Url.Content("~/Order/Payment")">@Resources.Payment</a></li>
    <li class="process-5"><a href="@Url.Content("~/Order/Confirmation")">@Resources.Confirmation</a></li>
</ul>