<ul class="page-sidebar-menu">
    <li>
        <a href="javascript:void(0)">
            <i class="glyphicon glyphicon-folder-close"></i>
            <span class="title">
                @Resources.Newsletter
            </span>
            <span class="arrow">
            </span>
        </a>
        <ul class="sub-menu">
            <li class="menu-mailinglist">
                <a href="@Url.Content("~/DLGEmail/MailingList")">
                    <i class="glyphicon glyphicon-list"></i>
                    <span class="title">
                        @Resources.MailingLists
                    </span>
                </a>
            </li>
            <li class="menu-emailtemplate">
                <a href="@Url.Content("~/DLGEmail/EmailTemplate")">
                    <i class="glyphicon glyphicon-list"></i>
                    <span class="title">
                        @Resources.EmailTemplates
                    </span>
                </a>
            </li>
            <li class="menu-emailing">
                <a href="@Url.Content("~/DLGEmail/Emailing")">
                    <i class="glyphicon glyphicon-list"></i>
                    <span class="title">
                        @Resources.SendEmail
                    </span>
                </a>
            </li>
            <li class="menu-impressum">
                <a href="@Url.Content("~/DLGEmail/Impressum")">
                    <i class="glyphicon glyphicon-list"></i>
                    <span class="title">
                        @Resources.PrivacyPolicy
                    </span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascrip:void(0);">
            <i class="glyphicon glyphicon-folder-close"></i>
            <span class="title">
                @Resources.CustomerManagement
            </span>
            <span class="arrow">
            </span>
        </a>
        <ul class="sub-menu">
            <li class="menu-customer">
                <a href="@Url.Content("~/DLGEmail/Customer")">
                    <i class="glyphicon glyphicon-list"></i>
                    <span class="title">
                        @Resources.Customers
                    </span>
                </a>
            </li>
            <li class="menu-customergroup">
                <a href="@Url.Content("~/DLGEmail/CustomerGroup")">
                    <i class="glyphicon glyphicon-list"></i>
                    <span class="title">
                        @Resources.CustomerGroups
                    </span>
                </a>
            </li>
            <li class="menu-category">
                <a href="@Url.Content("~/DLGEmail/Interest")">
                    <i class="glyphicon glyphicon-list"></i>
                    <span class="title">
                        @Resources.UserInteresting
                    </span>
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-admin-dashboard">
        <a href="@Url.Content("~/Admin")">
            <i class="glyphicon glyphicon-home"></i>
            <span class="title">
                @Resources.AdminDashboard
            </span>
        </a>
    </li>
</ul>
