@using DansLesGolfs
@using DansLesGolfs.BLL
@using System.Globalization
@model ShoppingCart
@{
    ViewBag.Title = Resources.MyCart;
    Layout = "~/Views/_Shared/MP/Front/_FullWidth.cshtml";
    decimal totalDiscount = Model.GetDiscount();
    decimal totalShippingCost = Model.GetTotalShippingCost();
    decimal totalPrice = Model.GetTotalPrice();
    decimal discountMinimumAmount = Model.GetDiscountMinimumAmount();
    var siteGroups = from it in Model.Items
                     group it by it.Item.SiteName into siteGroup
                     orderby siteGroup.Key
                     select siteGroup;
}
@section head
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/Libraries/font-awesome/css/font-awesome.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/Libraries/jquery-number-editor/jquery.number-editor.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/Front/css/cart.css")">
}
@section foot
{
    <script>
        window.msg = {};
        window.msg.cartEmptyText = '@Resources.TheBasketIsEmpty';
        window.msg.confirmDeleteMsg = '@Resources.ConfirmDeleteMessage';
    </script>
    <script src="@Url.Content("~/Assets/Libraries/jquery-number-editor/jquery.number-editor.js")"></script>
    <script src="@Url.Content("~/Assets/Front/scripts/pages/cart.js")"></script>
}
<div id="page-cart-summary">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-title">@Resources.MyCart</h1>
            @Html.Partial("~/Views/_Shared/UC/Front/Order/UCPaymentProcess.cshtml", 1)
            <h2 class="page-subtitle">@Resources.BasketSummary</h2>
            <table id="cart-summary" class="table table-bordered table-hover table-cart">
                <thead>
                    <tr>
                        <th class="column-description" colspan="2">@(Resources.Item + "(s)")</th>
                        <th class="column-unit-price">@Resources.UnitPrice</th>
                        <th class="column-quantity">@Resources.Quantity</th>
                        <th class="column-total-price">@Resources.TotalPrice</th>
                        <th class="column-delete">@Resources.Remove</th>
                    </tr>
                </thead>
                @if (siteGroups != null && siteGroups.Any())
                {
                    <tbody>
                        @foreach (var site in siteGroups)
                        {
                            <tr>
                                <td class="column-header" colspan="6">@MvcHtmlString.Create(String.IsNullOrEmpty(site.Key.Trim()) ? Resources.NotSpecificSite : site.Key.Trim())</td>
                            </tr>
                            foreach (var item in site)
                            {
                                <tr data-id="@item.ItemId" data-unit-price="@item.UnitPrice.ToString("###0.00", CultureInfo.InvariantCulture)" data-total-price="@item.TotalBasePrice.ToString("###0.00", CultureInfo.InvariantCulture)" data-shipping-cost="@item.ShippingCost.ToString("###0.00", CultureInfo.InvariantCulture)" data-discount="@item.DiscountPerUnit.ToString("###0.00", CultureInfo.InvariantCulture)">
                                    @if (item.Item.ItemImages != null && item.Item.ItemImages.Any())
                                    {
                                        <td class="column-thumnail" style="background-image: url(@Html.GetItemImageUrl(item.ItemId, item.Item.ItemImages[0], "thumbnail",item.DlgCardStyleId.ToString()))"></td>
                                    }
                                    else
                                    {
                                        <td class="column-thumnail"><div><img src="#" /></div></td>
                                    }
                                    <td class="column-description">
                                        <a href="@Html.ItemUrl(item.Item)">@item.Description</a>
                                        @if (item.Item.ItemTypeId == (int)ItemType.Type.Product)
                                        {
                                            if (item.Item.UnitInStock <= 0)
                                            {
                                                <div class="item-status outofstock">@("0 " + Resources.RemainingItems)</div>
                                            }
                                            else
                                            {
                                                <div class="item-status instock">@(item.Item.UnitInStock + " " + (item.Item.UnitInStock == 1 ? Resources.RemainingItem : Resources.RemainingItems))</div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="item-status available">@Resources.ItemAvailable</div>
                                        }
                                    </td>
                                    <td class="column-unit-price"><span class="price-number">@item.UnitPrice.ToString("#,##0.00")</span> &euro; </td>
                                    <td class="column-quantity"><input type="text" value="@item.Quantity" class="form-control text-right" @MvcHtmlString.Create(item.Item.ItemTypeId == (int)ItemType.Type.GreenFee ? (" max=\"" + DataManager.To(item.MaxQuantity, 8) + "\"") : "") /></td>
                                    <td class="column-total-price"><span class="price-number">@item.TotalBasePrice.ToString("#,##0.00")</span> &euro; </td>
                                    <td class="column-delete"><a href="javascript:void(0);" class="fa fa-trash-o fa-2x delete-button"></a></td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="column-promotion" colspan="6"><span class="column-promoion-code">@Resources.PromotionalCode : </span><input type="text" id="coupon-code" value="@Model.CouponCode" /> <button id="apply-coupon-button" class="btn btn-primary button-promotion">&gt; @Resources.ApplyToCart</button></td>
                        <tr>
                            @if (Model.HasCoupon)
                            {
                            <tr class="row-promotion-code" @MvcHtmlString.Create(totalDiscount > 0 ? "" : " style=\"display: none;\"")>
                                <td class="column-promotion-code" colspan="2">@Resources.PromotionalCode</td>
                                <td class="column-unit-price">
                                    @if (Model.Coupon.CouponGroup.CouponType == (int)CouponType.Amount)
                                    {
                                        @MvcHtmlString.Create("-" + Model.Coupon.CouponGroup.Reduction + " &euro;");
                                    }
                                    else if (Model.Coupon.CouponGroup.CouponType == (int)CouponType.Percent)
                                    {
                                        @(Model.Coupon.CouponGroup.Reduction + "%");
                                    }
                                    else
                                    {
                                        @("0%");
                                    }
                                </td>
                                <td class="column-total-discount" colspan="3"><span class="price-number">-@totalDiscount.ToString("#,##0.00") &euro;</span></td>
                                
                            </tr>
                            }
                            <!--<tr class="row-coupons-discounts">
                                <td class="column-coupons-discounts" colspan="2">@Resources.MyCouponsAndDiscount <button id="dlg-card-button" class="btn btn-primary">&gt; @Resources.Select</button></td>
                                <td class="column-unit-price">&nbsp;</td>
                                <td colspan="2" class="column-quantity">&nbsp;</td>
                                <td class="column-total-price"><span class="price-number">0 &euro;</span></td>
                            </tr>-->
                            @if (totalShippingCost > 0)
                            {
                                <tr class="row-shipping-cost">
                                    <td class="column-description" colspan="3" data-shipping-cost="@totalShippingCost.ToString("###0.00", CultureInfo.InvariantCulture)">
                                        @Resources.ShippingCost
                                    </td>
                                    <td class="column-total-shipping-cost text-right" colspan="3">
                                        <span class="price-number">+ @totalShippingCost.ToString("#,##0.00") &euro;</span>
                                    </td>
                                </tr>
                            }
                        <tr class="row-total-price" data-total-price="@totalPrice.ToString("###0.00", CultureInfo.InvariantCulture)">
                            <td class="column-description" colspan="3">
                                <span class="column-sub-total-ttc">@Resources.TotalTTC</span>
                            </td>
                            <td class="column-total-price text-right" colspan="3">
                                <span class="price-number">@totalPrice.ToString("#,##0.00")</span> <span class="currency">&euro;</span>
                            </td>
                        </tr>
                        </tfoot>
                }
                else
                {
                    <tbody>
                        <tr>
                            <td colspan="6" class="text-center">@Resources.TheBasketIsEmpty</td>
                        </tr>
                    </tbody>
                }
            </table>
            <input type="hidden" id="DiscountMinimumAmount" value="@discountMinimumAmount.ToString("###0.00", CultureInfo.InvariantCulture)" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="require-box">
                <span class="pull-right">
                    <a href="@Url.Content("~/")" id="back-to-shopping-button" class="btn btn-default">&gt; @Resources.ContinueToShopping</a>
                    <a href="@Url.Content("~/Order/Identification")" id="checkout-button" class="btn btn-primary">&gt; @Resources.Next</a>
                </span>
            </div>
        </div>
    </div>
</div>

<a href="#error-popup" id="error-popup-link"></a>
<div id="error-popup" style="display: none">
    <p class="popup-content"></p>
    <div class="action-buttons margin-top-20">
        <a class="ok-button btn btn-primary pull-right">OK</a>
    </div>
</div>