@{
    Layout = "~/Views/_Shared/MP/_Layout.cshtml";
}
@section head
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/Libraries/uploadifive/uploadifive.css")" />
}
@section foot
{
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
        window.siteId = '@ViewBag.id';
        window.itemTypeId = '@ViewBag.id';
        window.latitude = '@ViewBag.Latitude';
        window.longitude = '@ViewBag.Longitude';
        window.defaultLatitude = '@ViewBag.DefaultLatitude';
        window.defaultLongitude = '@ViewBag.DefaultLongitude';
    </script>
    <script src="@Url.Content("~/Assets/Libraries/uploadifive/jquery.uploadifive.min.js")"></script>
    <script src="@Url.Content("~/Assets/Libraries/tinymce/tinymce.min.js")"></script>
    <script src="@Url.Content("~/Assets/Admin/scripts/page/site.js")"></script>
    @*<script src="@Url.Content("~/Assets/Admin/scripts/page/site-map.js")"></script>*@
}
<form method="post" id="form-@ViewBag.ClassName" class="info-form enctype="multipart/form-data">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#site-info" data-toggle="tab">@Resources.SiteInformation</a></li>
        <li><a href="#site-email-settings" data-toggle="tab">@Resources.EmailSettings</a></li>
        <li><a href="#site-email-templates" data-toggle="tab">@Resources.EmailTemplates</a></li>
        <li><a href="#site-apis" data-toggle="tab">APIs</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="site-info">@Html.Partial("~/Views/_Shared/UC/Site/UCSiteInfo.cshtml")</div>
        <div class="tab-pane" id="site-email-settings">@Html.Partial("~/Views/_Shared/UC/Site/UCSiteEmailSettings.cshtml")</div>
        <div class="tab-pane" id="site-email-templates">@Html.Partial("~/Views/_Shared/UC/Site/UCEmailTemplates.cshtml")</div>
        <div class="tab-pane" id="site-apis">@Html.Partial("~/Views/_Shared/UC/Site/UCAPI.cshtml")</div>
    </div>
    <input type="hidden" name="id" value="@ViewBag.id" />
    <div class="action-buttons">
        <input type="submit" id="submit" name="submit" value="@Resources.Save" class="btn btn-primary" />
        <input type="reset" id="reset" name="reset" value="@Resources.Reset" class="btn" />
        <a href="@Url.Content("~/Site")" class="btn btn-default">@Resources.Back</a>
    </div>
</form>