@using DansLesGolfs
@using DansLesGolfs.BLL
@model DansLesGolfs.Models.RegisterModel
@{
    ViewBag.Title = Resources.MonMotDePasse;
    Layout = "~/Views/_Shared/MP/Front/_Default.cshtml";
}
@section head
{
    <link rel="stylesheet" type="text/css" href="@Href("~/Assets/Front/css/account.css")">
}
@section foot
{
    <script src="@Url.Content("~/Assets/Front/scripts/pages/register.js")"></script>
    <script type="text/javascript">

    </script>
}
<form method="post" id="form-@ViewBag.ClassName" class="info-form" enctype="multipart/form-data" action="@Url.Content("~/Account/ChangePassword")">
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="color: #d80927;">
                        @Resources.MonMotDePasse
                    </h3>
                </div>
                @if (@ViewBag.SuccessMessage != null)
                {
                    <div class="alert alert-success">
                        <button class="close" data-close="alert"></button>
                        <span>@ViewBag.SuccessMessage</span>
                    </div>
                }
                @if (@ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">
                        <button class="close" data-close="alert"></button>
                        <span>@ViewBag.ErrorMessage</span>
                    </div>
                }
                <div class="panel-body">
                    @Resources.ChangeYourPassword
                </div>
                <div class="panel-body" style="padding-top:0px;">

                    <div class="row" style="margin-left:20px;">
                        <div class="form-group">
                            <div class="col-md-4 control-label" style="padding-top: 7px; padding-left: 20px; padding-right: 2px; width: 40%;">
                                <label for="Password">@Resources.OldPassword</label>
                            </div>
                            <div class="col-md-8" style="width:50%;">
                                @Html.PasswordFor(m => m.OldPassword, new { required = "required", maxlength = 200, @class = "form-control", @style = "height:100%;padding:3px;" })
                                @Html.ValidationMessageFor(m => m.OldPassword)
                            </div>
                        </div>
                    </div>

                </div>
                <div class="panel-body" style="padding-top:0px;">

                    <div class="row" style="margin-left:20px;">
                        <div class="form-group">
                            <div class="col-md-4 control-label" style="padding-top:10px;padding-left:20px;padding-right:2px;width:40%;">
                                <label for=" password">
                                    @Resources.Chooseyourpassword
                                </label>
                            </div>
                            <div class="col-md-8" style="width:50%;">
                                @Html.PasswordFor(m => m.Password, new { required = "required", maxlength = 200, @class = "form-control", @style = "height:100%;padding:3px;" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        </div>
                    </div>

                </div>
                <div class="panel-body" style="padding-top:0px;">

                    <div class="row" style="margin-left:20px;">
                        <div class="form-group">
                            <div class="col-md-4 control-label" style="padding-top: 10px; padding-left: 20px; padding-right: 2px; width: 40%;">
                                <label for=" password">
                                    @Resources.ConfirmPassword
                                </label>
                            </div>
                            <div class="col-md-8" style="width:50%;">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { required = "required", maxlength = 200, @class = "form-control", @style = "height:100%;padding:3px;" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>
                        </div>
                    </div>

                </div>
                <center style="margin-bottom:20px;">
                    <input type="submit" id="submit" name="submit" value="@Html.T(">"+ Resources.ChangePassword)" class="btn btn-primary" style="width: 200px;" />
                </center>
            </div>


        </div>
    </div>

</form>