@{
    Layout = "~/Views/_Shared/MP/_Admin.cshtml";
    int fiscalYear = (int)ViewBag.FiscalYear;
    Site site = (Site)ViewBag.Site;
}
@section head
{
}
@section foot
{
    <script src="@Url.Content("~/Assets/Admin/scripts/page/site-journal-yearly.js")"></script>
}
<form method="post" id="form-site-journal" class="info-form">
    <h1 class="margin-top-20 margin-bottom-40"><a href="@Url.Content("~/Admin/Site/Form/" + ViewBag.SiteId)">@Resources.YearlyJournalFor : @site.SiteName</a></h1>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2 control-label text-right">
                        <label for="SiteId">@Resources.Site</label>
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownList("id", (IEnumerable<SelectListItem>)ViewBag.Sites, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2 control-label text-right">
                        <label for="FiscalYear">@Resources.Year</label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBox("FiscalYear", fiscalYear, new { type = "number", @class = "form-control number text-center", maxlength = 4 })
                    </div>
                    <div class="col-md-4">
                        <a href="javascript:void(0);" id="load-data-button" class="btn btn-primary">@Resources.LoadData</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.Partial("~/Views/_Shared/UC/Admin/SiteJournal/UCSiteFinancial.cshtml", (SiteFinancial)ViewBag.SiteFinancial)
            @Html.Partial("~/Views/_Shared/UC/Admin/SiteJournal/UCSiteCentralLineSEO.cshtml", (SiteCentralLineSEO)ViewBag.SiteCentralLineSEO)
        </div>
        <div class="col-md-6">
            @Html.Partial("~/Views/_Shared/UC/Admin/SiteJournal/UCSiteCommunication.cshtml", (SiteCommunication)ViewBag.SiteCommunication)
            @Html.Partial("~/Views/_Shared/UC/Admin/SiteJournal/UCSiteEvent.cshtml", (SiteEvent)ViewBag.SiteEvent)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        </div>
    </div>
    <input type="hidden" name="id" value="@ViewBag.SiteId" />
    <div class="action-buttons">
        <input type="submit" id="submit" name="submit" value="@Resources.Save" class="btn btn-primary" />
        <a href="@Url.Content("~/Admin/Site/Form/" + ViewBag.SiteId)" class="btn btn-default">@Resources.Back</a>
    </div>
</form>