@using DansLesGolfs.Base;
@{
    Layout = "~/Views/_Shared/MP/_Layout.cshtml";
    DateTime birthdate = DataManager.ToDateTime((object)ViewBag.Birthdate);
    string birthdateStr = birthdate == DateTime.MinValue ? DateTime.Now.ToString("dd/MM/yyyy") : birthdate.ToString("dd/MM/yyyy");
}
@section head
{
}
@section foot
{
    <script>
        $('.info-form').validate();
        $('.datepicker').datepicker({
            dateFormat: 'dd/mm/yy',
            autoSize: true,
            firstDay: 1
        });
    </script>
}
<form method="post" id="form-@ViewBag.ClassName" class="info-form" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @Resources.UserInformation
                    </h3>
                </div>
                <div class="panel-body">
                    @if (ViewBag.LogonUserType == UserType.Type.SuperAdmin || ViewBag.LogonUserType == UserType.Type.Admin)
                    {
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3 control-label">
                                    <label for="UserTypeId">@Resources.UserType</label>
                                </div>
                                <div class="col-md-9">
                                    @Html.DropDownList("UserTypeId", (IEnumerable<SelectListItem>)ViewBag.DropDownUserTypes, new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3 control-label">
                                    <label for="SiteId">@Resources.Site</label>
                                </div>
                                <div class="col-md-9">
                                    @Html.DropDownList("SiteId", (IEnumerable<SelectListItem>)ViewBag.Sites, new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                        </div>
                    }
                    else if (ViewBag.LogonUserType == UserType.Type.SiteManager)
                    {
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3 control-label">
                                    <label for="UserTypeId">@Resources.UserType</label>
                                </div>
                                <div class="col-md-9">
                                    @Html.DropDownList("UserTypeId", (IEnumerable<SelectListItem>)ViewBag.DropDownUserTypes, new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3 control-label">
                                <label for="Email">@Html.T("Email")</label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextBox("Email", (string)ViewBag.Email, new { Required = "Required", type = "email", maxlength = 200, @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3 control-label">
                                <label for="Password">@Html.T("Password")</label>
                            </div>
                            <div class="col-md-9">
                                @Html.Password("Password", (string)ViewBag.Password, new { Required = "Required", maxlength = 200, @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3 control-label">
                                <label for="Firstname">@Html.T("Firstname")</label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextBox("Firstname", (string)ViewBag.Firstname, new { Required = "Required", maxlength = 200, @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3 control-label">
                                <label for="Middlename">@Html.T("Middlename")</label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextBox("Middlename", (string)ViewBag.Middlename, new { maxlength = 100, @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3 control-label">
                                <label for="Lastname">@Html.T("Lastname")</label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextBox("Lastname", (string)ViewBag.Lastname, new { Required = "Required", maxlength = 200, @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3 control-label">
                                <label for="Gender">@Html.T("Gender")</label>
                            </div>
                            <div class="col-md-9">
                                @Html.RadioButton("Gender", 0, DataManager.ToInt((object)ViewBag.Gender) == 0) @Html.T("Male")
                                @Html.RadioButton("Gender", 1, DataManager.ToInt((object)ViewBag.Gender) == 1) @Html.T("Female")
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3 control-label">
                                <label for="Birthdate">@Html.T("Birthdate")</label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextBox("Birthdate", birthdateStr, new { @class = "form-control datepicker", placeholder = "dd/mm/yyyy" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @Html.T("Address")
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3 control-label">
                                <label for="Address">@Html.T("Address")</label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextBox("Address", (string)ViewBag.Address, new { maxlength = 500, @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3 control-label">
                                <label for="Street">@Html.T("Street")</label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextBox("Street", (string)ViewBag.Street, new { maxlength = 500, @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3 control-label">
                                <label for="City">@Html.T("City")</label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextBox("City", (string)ViewBag.City, new { maxlength = 200, @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3 control-label">
                                <label for="PostalCode">@Html.T("Postal Code")</label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextBox("PostalCode", (string)ViewBag.PostalCode, new { maxlength = 50, @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3 control-label">
                                <label for="CountryId">@Html.T("Country")</label>
                            </div>
                            <div class="col-md-9">
                                @Html.DropDownList("CountryId", (IEnumerable<SelectListItem>)ViewBag.Countries, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3 control-label">
                                <label for="Phone">@Html.T("Phone")</label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextBox("Phone", (string)ViewBag.Phone, new { maxlength = 200, @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3 control-label">
                                <label for="MobilePhone">@Html.T("Mobile Phone")</label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextBox("MobilePhone", (string)ViewBag.MobilePhone, new { maxlength = 200, @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @Html.T("Shipping Address")
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3 control-label">
                                <label for="ShippingAddress">@Html.T("Address")</label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextBox("ShippingAddress", (string)ViewBag.ShippingAddress, new { maxlength = 500, @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3 control-label">
                                <label for="ShippingStreet">@Html.T("Street")</label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextBox("ShippingStreet", (string)ViewBag.ShippingStreet, new { maxlength = 500, @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3 control-label">
                                <label for="ShippingCity">@Html.T("City")</label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextBox("ShippingCity", (string)ViewBag.ShippingCity, new { maxlength = 200, @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3 control-label">
                                <label for="Shipping PostalCode">@Html.T("Postal Code")</label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextBox("ShippingPostalCode", (string)ViewBag.ShippingPostalCode, new { maxlength = 50, @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3 control-label">
                                <label for="ShippingCountryId">@Html.T("Country")</label>
                            </div>
                            <div class="col-md-9">
                                @Html.DropDownList("ShippingCountryId", (IEnumerable<SelectListItem>)ViewBag.Countries, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3 control-label">
                                <label for="ShippingPhone">@Html.T("Phone")</label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextBox("ShippingPhone", (string)ViewBag.ShippingPhone, new { maxlength = 200, @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @Html.T("Additional Information")
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3 control-label">
                                <label for="Remarks">@Html.T("Remarks")</label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextArea("Remarks", (string)ViewBag.Remarks, new { @class = "form-control", rows = 3, maxlength = 500 })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3 control-label">
                                <label for="IsReceiveEmailInfo">@Html.T("Receive Newsletter")</label>
                            </div>
                            <div class="col-md-9">
                                <label for="IsReceiveEmailInfo"><input type="checkbox" id="IsReceiveEmailInfo" name="IsReceiveEmailInfo" value="true" @(DataManager.ToBoolean((object)ViewBag.IsReceiveEmailInfo) ? " checked=\"checked\"" : "") /> check this checkbox to receive newsletter.</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
    @Html.Hidden("id")
    <input type="submit" id="submit" name="submit" value="@Resources.Save" class="btn btn-primary" />
    <input type="reset" id="reset" name="reset" value="@Resources.Reset" class="btn" />
    <a href="@Url.Content("~/User")" class="btn btn-default">@Resources.Back</a>
</form>