@{
    Layout = "~/Views/_Shared/MP/_Admin.cshtml";
    bool hideAddButton = ViewBag.HideAddButton == null ? false : (bool)ViewBag.HideAddButton;
}
@section head
{
}
@section foot
{
    <script type="text/javascript">
        window.areaName = "Admin";
        window.controllerName = "@ViewBag.ObjectName";
        window.primaryKey = "@ViewBag.PrimaryKey";
        window.columnLength = 4;
    </script>
    @if (ViewBag.JavaScripts != null)
    {
        foreach (var js in (List<string>)ViewBag.JavaScripts)
        {
            <script type="text/javascript" src="@Url.Content(js)"></script>
        }
    }
    <script type="text/javascript" src="@Url.Content("~/Assets/Admin/scripts/list-page.js")"></script>
}@if (!hideAddButton)
{
    <div class="panel">
        <div class="panel-body">
            <a class="btn btn-primary" href="@Url.Content("~/Admin/" + ViewBag.ObjectName +  "/Form")">Add New</a>
        </div>
    </div>
}
<div class="panel">
    <div class="panel-body">
        <table id="datatable" class="dataTable table table-bordered table-striped table-scrollable table-hover">
            <thead>
                <tr>
                    <th class="checkboxes column-checkbox unorderable">
                        <input type="checkbox" />
                    </th>
                    @foreach (var col in (Dictionary<string, string>)ViewBag.ColumnNames)
                    {
                        <th class="column-@col.Key.ToLower()">
                            @col.Value
                        </th>
                    }
                    @if (ViewBag.IsClonable == true)
                    {
                        <th class="column-edit unorderable">
                            @Resources.Duplicate
                        </th>
                    }
                    <th class="column-edit unorderable">
                        @Resources.Edit
                    </th>
                    <th class="column-delete unorderable">
                        @Resources.Delete
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="row">
            <div class="col-md-5">
                <select class="actions-dropdown form-control">
                    <option value="delete-selected">@Resources.DeleteSelectedItems</option>
                    @if (ViewBag.ActionList != null)
                    {
                        foreach (var action in (Dictionary<string, string>)ViewBag.ActionList)
                        {
                            <option value="@action.Key">@action.Value</option>
                        }
                    }
                </select>
            </div>
            <div class="col-md-1">
                <button class="action-button btn btn-primary">@Resources.Action</button>
            </div>
        </div>
    </div>
</div>