@using DansLesGolfs.Base
@{
    Layout = "~/Views/_Shared/MP/_Admin.cshtml";
    List<object> teeSheets = ViewBag.TeeSheetObjects as List<object>;
}
@section head
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/Libraries/uploadifive/uploadifive.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/Libraries/bootstrap-tagsinput/bootstrap-tagsinput.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/Libraries/jquery.teesheet/jquery.teesheet.css")" />
}
@section foot
{
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
        window.itemId = '@ViewBag.id';
        window.itemTypeId = '@ViewBag.ItemTypeId';
        window.latitude = '@DataManager.ToDecimal(ViewBag.Latitude).ToString(System.Globalization.CultureInfo.InvariantCulture)';
        window.longitude = '@DataManager.ToDecimal(ViewBag.Longitude).ToString(System.Globalization.CultureInfo.InvariantCulture)';
        window.defaultLatitude = '@DataManager.ToDecimal(ViewBag.DefaultLatitude).ToString(System.Globalization.CultureInfo.InvariantCulture)';
        window.defaultLongitude = '@DataManager.ToDecimal(ViewBag.DefaultLongitude).ToString(System.Globalization.CultureInfo.InvariantCulture)';
        window.deleteText = '@Resources.Delete';
        window.confirmDeleteText = '@MvcHtmlString.Create(Resources.ConfirmDeleteMessage)';
        window.teeSheetData = eval('@MvcHtmlString.Create(ViewBag.TeeSheetData)');
        window.allowTeeSheetCategories = eval('@ViewBag.AllowTeeSheetCategories');
        window.albatrosSiteIds = eval('@ViewBag.AlbatrosSiteIds');
        window.currency = '&euro;';
        jQuery(document).ready(function () {
            if (window.itemId > 0) {
                loadItemImages();
            }
        });
    </script>
    <script src="@Url.Content("~/Assets/Libraries/uploadifive/jquery.uploadifive.min.js")"></script>
    <script src="@Url.Content("~/Assets/Libraries/bootstrap-tagsinput/bootstrap-tagsinput.min.js")"></script>
    <script src="@Url.Content("~/Assets/Libraries/tinymce/tinymce.min.js")"></script>
    <script src="@Url.Content("~/Assets/Libraries/jquery.teesheet/jquery.teesheet.js")"></script>
    <script src="@Url.Content("~/Assets/Admin/scripts/page/product.js")"></script>
    <script src="@Url.Content("~/Assets/Admin/scripts/page/item-map.js")"></script>
    <script src="@Url.Content("~/Assets/Admin/scripts/page/teesheet.js")"></script>

}
<form method="post" id="form-@ViewBag.ClassName" class="info-form">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#product-info" data-toggle="tab">@Resources.ProductInfo</a></li>
        <li><a href="#product-images" data-toggle="tab">@Resources.ProductImages</a></li>
        <li><a href="#greenfee-teesheet" data-toggle="tab">@Resources.YieldMgt</a></li>
        <li><a href="#item-map" data-toggle="tab">@Resources.Map</a></li>
        <li><a href="#item-advanced" data-toggle="tab">@Resources.Advanced</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="product-info">@Html.Partial("~/Views/_Shared/UC/Admin/Item/UCGreenFeeInfo.cshtml")</div>
        <div class="tab-pane" id="product-images">@Html.Partial("~/Views/_Shared/UC/Admin/Item/UCProductImages.cshtml")</div>
        <div class="tab-pane" id="greenfee-teesheet">@Html.Partial("~/Views/_Shared/UC/Admin/Item/UCTeeSheet.cshtml", (TeeSheet)ViewBag.TeeSheet)</div>
        <div class="tab-pane" id="item-map">@Html.Partial("~/Views/_Shared/UC/Admin/Item/UCMap.cshtml")</div>
        <div class="tab-pane" id="item-advanced">@Html.Partial("~/Views/_Shared/UC/Admin/Item/UCAdvanced.cshtml")</div>
    </div>
    <input type="hidden" name="id" value="@ViewBag.id" />
    <input type="submit" id="submit" name="submit" value="@Resources.Save" class="btn btn-primary" />
    <input type="reset" id="reset" name="reset" value="@Resources.Reset" class="btn" />
    <a href="@Url.Content("~/Admin/GreenFee")" class="btn btn-default">@Resources.Back</a>
</form><!-- Product Modifier Form Popup -->
<div style="display:none">
    <div class="row">
        <div id="modifier-form-popup" class="col-lg-12">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-4 control-label">
                        <label for="MailingListName">@Resources.ChoiceName</label>
                    </div>
                    <div class="col-md-8">
                        @Html.TextBox("ChoiceName", (string)ViewBag.MailingListName, new { Required = "Required", @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2 control-label">
                        <label for="Price">@Resources.Price</label>
                    </div>
                    <div class="col-md-10">
                        @Html.TextBox("Price", DataManager.ToDecimal((object)ViewBag.Price).ToString("#,##0.00"), new { type = "number", min = 0, @class = "input-x-small text-right" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Product Modifier Form Popup -->
<div id="daterange-popup" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Resources.DateRange</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2 control-label">
                            <label for="DateStart">@Resources.From</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="DateStart" name="DateStart" class="datepicker form-control" />
                        </div>
                        <div class="col-md-2 control-label">
                            <label for="DateEnd">@Resources.To</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="DateEnd" name="DateEnd" class="datepicker form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary ok-button">OK</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->