@{
    Layout = "~/Views/_Shared/MP/_Layout.cshtml";
}
@section head
{
}
@section foot
{
    <script src="@Url.Content("~/Assets/Libraries/tinymce/tinymce.min.js")"></script>
    <script>
        $('.info-form').validate();
        tinymce.init({
            selector: "textarea.editor"
        });
        $('.info-form').validate();
    </script>
}
<form method="post" id="form-@ViewBag.ClassName" class="info-form">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @Resources.BrandInformation
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2 control-label">
                                <label for="BrandName">@Resources.BrandName</label>
                            </div>
                            <div class="col-md-10">
                                @Html.TextBox("BrandName", DataManager.ToString((object)ViewBag.BrandName), new { required = "required", maxlength = 100, @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("id")
    <input type="submit" id="submit" name="submit" value="@Resources.Save" class="btn btn-primary" />
    <input type="reset" id="reset" name="reset" value="@Resources.Reset" class="btn" />
    <a href="@Url.Content("~/Brand")" class="btn btn-default">@Resources.Back</a>
</form>