@{
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="@CultureHelper.GetCurrentNeutralCulture()" dir="@(CultureHelper.IsRightToLeft() ? "rtl" : "ltr")">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <title>@Html.MetaTitle(ViewBag.Title != null ? (string)ViewBag.Title : "")</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="Content-type" content="text/html; chartset=utf-8" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/Admin/css/reset.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/Libraries/bootstrap/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/Libraries/bootstrap/css/bootstrap-theme.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/Libraries/data-tables/DT_bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/Libraries/uniform/css/uniform.default.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/Libraries/uniform/themes/danslesgolfs/css/uniform.danslesgolfs.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/Front/css/style.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/Admin/css/custom.css")" />
    @RenderSection("head", false)

</head>
<body class="home">
    @RenderBody()

    <script src="@Url.Content("~/Assets/Libraries/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Assets/Libraries/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Assets/Libraries/data-tables/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Assets/Libraries/data-tables/DT_bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Assets/Front/plugins/uniform/jquery.uniform.min.js")"></script>

    @RenderSection("foot", false)
</body>
</html>