@using DansLesGolfs.BLL
@model List<ItemReview>
@{
    Layout = null;
}
@if (Model.Any())
{
    foreach (ItemReview review in Model)
    {
    <div class="review">
        <div class="slick-separator">
            <div class="mask"></div>
        </div>
        <div class="avatar">
            <div class="reviewer-name">@review.ReviewerName</div>
            <small class="reviewer-city">@review.CityName</small>
        </div>

        <div class="review-message">
            <div class="review-meta">
                <div class="review-stars starrr fixed" data-rating="@review.Rating"></div> @review.Subject — @review.UpdatedDate.ToString("dd/MM/yyyy")
            </div>
            @review.Message
        </div>
    </div>
    }
}
else
{
    <div>@Resources.NoReviewText</div>
}