@using DansLesGolfs.Base
@{
    Layout = "~/Views/_Shared/MP/_Admin.cshtml";
}
@section head
{
}
@section foot
{
    <script>
        $('.info-form').validate();
    </script>
}
<form method="post" id="form-@ViewBag.ClassName" class="info-form">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @Html.T("Tax Information")
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4 control-label">
                                <label for="TaxCode">@Html.T("Tax Code")</label>
                            </div>
                            <div class="col-md-8">
                                @Html.TextBox("TaxCode", (string)ViewBag.TaxCode, new { required = "required", maxlength = 50, @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4 control-label">
                                <label for="TaxName">@Html.T("Tax Name")</label>
                            </div>
                            <div class="col-md-8">
                                @Html.TextBox("TaxName", (string)ViewBag.TaxName, new { required = "required", maxlength = 100, @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4 control-label">
                                <label for="TaxPercent">@Html.T("Tax Percent")</label>
                            </div>
                            <div class="col-md-8">
                                @Html.TextBox("TaxPercent", DataManager.ToFloat((object)ViewBag.TaxPercent).ToString("#,##0.00"), new { required = "required", type = "number", min = 0, max = 100, @class = "form-control text-right" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="id" value="@ViewBag.id" />
    <input type="submit" id="submit" name="submit" value="@Resources.Save" class="btn btn-primary" />
    <input type="reset" id="reset" name="reset" value="@Resources.Reset" class="btn" />
    <a href="@Url.Content("~/Admin/Tax")" class="btn btn-default">@Resources.Back</a>
</form>