@{
    ViewBag.Title = Resources.ForgotPassword;
    Layout = "~/Views/_Shared/MP/Front/_FullWidth.cshtml";
}
@section head
{

}
@section foot
{
    <script>
        $('#forgot-password-form').validate({
            errorPlacement: function (error, element) {
                $(element).closest('.row').next().find('.error-label').html(error);
            }
        });
    </script>

}
<div id="page-forgot-password" class="well">
    <form method="post" action="@Url.Content("~/ForgotPassword")" id="forgot-password-form" class="form-horizontal">
        <div class="row">
            <div class="col-md-12 text-center margin-bottom-15">
                <p>@Resources.ForgotPasswordDescription</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-centered">
                @if (@ViewBag.SuccessMessage != null)
                {
                    <div class="alert alert-success">
                        <button class="close" data-close="alert"></button>
                        <span>@ViewBag.SuccessMessage</span>
                    </div>
                }
                @if (@ViewBag.ErrorMessages != null)
                {
                    <div class="alert alert-danger">
                        <button class="close" data-close="alert"></button>
                        <span>@ViewBag.ErrorMessages</span>
                    </div>
                }
                <div class="row">
                    <div class="form-group">
                        <div class="control-label col-md-1">
                            <label for="Email">@Resources.Email</label>
                        </div>
                        <div class="control-group col-md-10">
                            <input type="email" id="Email" name="Email" value="@ViewBag.Email" required="required" class="form-control" />
                        </div>
                        <div class="col-md-1">
                            <button id="Submit" name="Submit" class="btn btn-primary">@Resources.RecoverPassword <i class="glyphicon glyphicon-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="control-label col-md-3">
                </div>
                <div class="control-group col-md-9">
                    <span class="error-label"></span>
                </div>
            </div>
        </div>
    </form>
</div>