@using DansLesGolfs.Base
@{
    Layout = "~/Views/_Shared/MP/_Admin.cshtml";
}
@section head
{
    <style>
        /**
        * Nestable
        */

               .dd {
                   position: relative;
                   display: block;
                   margin: 0;
                   padding: 0;
                   max-width: 600px;
                   list-style: none;
                   font-size: 13px;
                   line-height: 20px;
               }

               .dd-list {
                   display: block;
                   position: relative;
                   margin: 0;
                   padding: 0;
                   list-style: none;
               }

               .dd-list .dd-list {
                   padding-left: 30px;
               }

               .dd-collapsed .dd-list {
                   display: none;
               }

               .dd-item,
               .dd-empty,
               .dd-placeholder {
                   display: block;
                   position: relative;
                   margin: 0;
                   padding: 0;
                   min-height: 20px;
                   font-size: 13px;
                   line-height: 20px;
               }

               .dd-handle {
                   display: block;
                   height: 30px;
                   margin: 5px 0;
                   padding: 5px 10px;
                   color: #333;
                   text-decoration: none;
                   font-weight: bold;
                   border: 1px solid #ccc;
                   background: #fafafa;
                   background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
                   background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
                   background: linear-gradient(top, #fafafa 0%, #eee 100%);
                   -webkit-border-radius: 3px;
                   border-radius: 3px;
                   box-sizing: border-box;
                   -moz-box-sizing: border-box;
               }

               .dd-handle:hover {
                   color: #2ea8e5;
                   background: #fff;
               }

               .dd-item > button {
                   display: block;
                   position: relative;
                   cursor: pointer;
                   float: left;
                   width: 25px;
                   height: 20px;
                   margin: 5px 0;
                   padding: 0;
                   text-indent: 100%;
                   white-space: nowrap;
                   overflow: hidden;
                   border: 0;
                   background: transparent;
                   font-size: 12px;
                   line-height: 1;
                   text-align: center;
                   font-weight: bold;
               }

               .dd-item > button:before {
                   content: '+';
                   display: block;
                   position: absolute;
                   width: 100%;
                   text-align: center;
                   text-indent: 0;
               }

               .dd-item > button[data-action="collapse"]:before {
                   content: '-';
               }

               .dd-placeholder,
               .dd-empty {
                   margin: 5px 0;
                   padding: 0;
                   min-height: 30px;
                   background: #f2fbff;
                   border: 1px dashed #b6bcbf;
                   box-sizing: border-box;
                   -moz-box-sizing: border-box;
               }

               .dd-empty {
                   border: 1px dashed #bbb;
                   min-height: 100px;
                   background-color: #e5e5e5;
                   background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
                   background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
                   background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
                   background-size: 60px 60px;
                   background-position: 0 0, 30px 30px;
               }

               .dd-dragel {
                   position: absolute;
                   pointer-events: none;
                   z-index: 9999;
               }

               .dd-dragel > .dd-item .dd-handle {
                   margin-top: 0;
               }

               .dd-dragel .dd-handle {
                   -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
                   box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
               }
    </style>
}
@section foot
{
    <script src="@Url.Content("~/Assets/Libraries/jquery-nestable/jquery.nestable.js")"></script>
    <script src="@Url.Content("~/Assets/Admin/scripts/page/menu.js")"></script>
}
<div id="page-menu-manager">
    <div class="row">
        <div class="col-md-4">
            <!-- Begin Link Menu Creator -->
            <div id="link-menu-creator" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Link
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="Name">@Resources.Title</label>
                        <input type="text" name="title" maxlength="50" placeholder="@Resources.Title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Name">@Resources.LinkUrl</label>
                        <input type="url" name="url" maxlength="255" placeholder="@Resources.LinkUrl" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary add-button">@Resources.Add</button>
                    </div>
                </div>
            </div>
            <!-- End Link Menu Creator -->
            <!-- Begin Item Type Menu Creator -->
            <div id="itemtype-menu-creator" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @Resources.ItemType
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="Name">@Resources.Title</label>
                        <ul>
                            @foreach (ItemType type in (List<ItemType>)ViewBag.ItemType)
                            {
                                <li><label><input type="checkbox" data-title="@type.ItemTypeName" value="@type.ItemTypeId" /> @type.ItemTypeName</label></li>
                            }
                        </ul>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary add-button">@Resources.Add</button>
                    </div>
                </div>
            </div>
            <!-- End Item Type Menu Creator -->
            <!-- Begin Item Type Menu Creator -->
            <div id="itemtype-menu-creator" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @Resources.Categories
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="Name">@Resources.Title</label>
                        <ul>
                            @foreach (ItemCategory cat in (List<ItemCategory>)ViewBag.ItemCategories)
                            {
                                <li><label><input type="checkbox" data-title="@cat.CategoryName" value="@cat.CategoryId" /> @cat.CategoryName</label></li>
                            }
                        </ul>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary add-button">@Resources.Add</button>
                    </div>
                </div>
            </div>
            <!-- End Item Type Menu Creator -->
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2 control-label">
                        <label for="MenuId">@Resources.Menu</label>
                    </div>
                    <div class="col-md-6">
                        @Html.DropDownList("MenuId", (List<SelectListItem>)ViewBag.MenuDropDownList, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        <a href="javascript:void(0);" id="save-menu-button" class="btn btn-primary">@Resources.Save</a>
                    </div>
                </div>
            </div>
            <div id="menu-list" class="dd">
                <ul></ul>
            </div>
        </div>
    </div>
</div>
<div id="menu-save-success-dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Resources.SavedSuccessfully</h4>
            </div>
            <div class="modal-body">
                <p>@Resources.YourMenuWasSaved</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">@Resources.Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="menu-editing-dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Resources.EditingMenu</h4>
            </div>
            <div class="modal-body">
                <div id="title-control" class="row">
                    <div class="form-group">
                        <div class="col-md-4 control-label">
                            <label for="menu-title">@Resources.Title</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="menu-title" name="menu_title" class="form-control" />
                        </div>
                    </div>
                </div>
                <div id="url-control" class="row">
                    <div class="form-group">
                        <div class="col-md-4 control-label">
                            <label for="menu-title">@Resources.LinkUrl</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="menu-url" name="menu_url" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="save-change-menu-button">@Resources.Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->