@using DansLesGolfs.Base
@using DansLesGolfs.BLL
@model UserMessageAdminViewModel

@{
    Layout = "~/Views/_Shared/MP/_Admin.cshtml";
}
@section head
{


}

@section foot
{

}

<script src="@Url.Content("~/Assets/Libraries/jquery-1.10.2.min.js")"></script>
<script src="@Url.Content("~/Assets/Front/plugins/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Assets/Front/plugins/jquery.validate.unobtrusive.min.js")"></script>
<script src="@Url.Content("~/Assets/Libraries/uploadifive/jquery.uploadifive.min.js")"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
       
        $('#promotion-image').uploadifive({
            formData: { id: $("#PromotionId").val() },
            multi: true,
            auto: true,
            buttonText: "Add Images...",
            buttonClass: "btn btn-default",
            fileTypeExts: '*.gif; *.jpg; *.png',
            fileSizeLimit: '4MB',
            uploadScript: getUrl('Admin/PromotionAdmin/AddPromotionImages'),
            swf: getUrl('Assets/Libraries/uploadify/uploadify.swf'),
            onUploadComplete: function (file, data) {
                $("#PromotionImage").val(data);

                var html = "";
                html += getPromotionImageHTML(data, $("#PromotionId").val());
                $('#promotion-image-area').html(html);

            }
        });

        $('#promotion-brand-image').uploadifive({
            formData: { id: $("#PromotionId").val() },
            multi: true,
            auto: true,
            buttonText: "Add Images...",
            buttonClass: "btn btn-default",
            fileTypeExts: '*.gif; *.jpg; *.png',
            fileSizeLimit: '4MB',
            uploadScript: getUrl('Admin/PromotionAdmin/AddPromotionImages'),
            swf: getUrl('Assets/Libraries/uploadify/uploadify.swf'),
            onUploadComplete: function (file, data) {
                $("#PromotionBrandImage").val(data);

                var html = "";
                html += getPromotionImageHTML(data, $("#PromotionId").val());

                $('#promotion-brand-image-area').html(html);
                
            }
        });

        loadPromotionImages();
        loadPromotionBrandImages();
    });

    function loadPromotionImages() {

        $.ajax({
            url: getUrl('Admin/PromotionAdmin/LoadPromotionImages'),
            type: 'post',
            dataType: 'json',
            traditional: true,
            data: { promotionId: $("#PromotionId").val() },
            success: function (result) {
                if (result.isSuccess) {
                    var html = "";
                    html += getPromotionImageHTML(result.PromotionImages, $("#PromotionId").val());
                    //for (var i in result.itemImages) {
                    //    html += getCardImageHTML(result.itemImages[i]);
                    //}
                    
                    $('#promotion-image-area').html(html);
                    //$('#card-images-area .card-image .delete').on('click', onCardImageDelete);
                }
            }
        });
    }

    function loadPromotionBrandImages() {

        $.ajax({
            url: getUrl('Admin/PromotionAdmin/LoadPromotionBrandImages'),
            type: 'post',
            dataType: 'json',
            traditional: true,
            data: { promotionId: $("#PromotionId").val() },
            success: function (result) {
                if (result.isSuccess) {
                    var html = "";
                    html += getPromotionImageHTML(result.PromotionImages, $("#PromotionId").val());
                    //for (var i in result.itemImages) {
                    //    html += getCardImageHTML(result.itemImages[i]);
                    //}
                    
                    $('#promotion-brand-image-area').html(html);
                    //$('#card-images-area .card-image .delete').on('click', onCardImageDelete);
                }
            }
        });
    }

    function getPromotionImageHTML(imageurl, promotionId) {
        
        var html = "";
        if (imageurl != "" && imageurl != undefined) {
            var html = '<li class="card-image image-item" data-imageid="' + imageurl + '" data-url="' + imageurl + '" data-thumb-url="' + imageurl + '" data-filename="' + imageurl + '" data-basename="' + imageurl + '" data-extension="' + imageurl + '">';
            html += '<div class="tools-panel">';
            //html += '<a href="javascript:void(0);" class="delete">Delete</a>';
            html += '</div>';
            html += '<div class="thumbnail" style="background-image:url(' + '/Uploads/Promotion/' + promotionId + "/" + imageurl + ')">';
            html += '</div>';
            html += '</li>';
        }
        return html;
    }

</script>

@using (Html.BeginForm("SaveUserMessageAdmin", "UserMessageAdmin", FormMethod.Post,
                                      new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">UserMessage Information
                </h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-2 control-label">
                        <label for="CardName">
                            To User
                        </label>
                    </div>
                    <div class="col-md-10">
                        @*@Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })*@
                        @Html.DropDownListFor(m => m.ToUserId, new SelectList(Model.UserList, "userId", "Fullname"), new { @class = "form-control",@required = "required" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label">
                        <label for="CardName">
                            Subject
                        </label>
                    </div>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" ,@required = "required"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label">
                        <label for="CardName">
                            Body
                        </label>
                    </div>
                    <div class="col-md-10">

                        @Html.TextBoxFor(m => m.Body, new { @class = "form-control" ,@required = "required"})
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">UserMessage File
                        </h3>
                    </div>
                    <div class="panel-body">
                        <input type="file" name="file" />

@*                        @if (Model.MessageId.HasValue)
                        {

                            <div class="row">
                                <div class="col-md-6">
                                    <p>@Resources.ItemImageUploadDescription</p>
                                    <input type="file" accept="image/*" id="promotion-image" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul id="promotion-image-area" class="sortable-images"></ul>
                                </div>
                            </div>
                                
                        }
                        else
                        {
                            <p>@Html.T("Please save Card Information first.")</p>
                        }*@
                    </div>
                </div>
            </div>
        </div>

        <input type="submit" id="submit" name="submit" value="@Resources.Save" class="btn btn-primary" />
        <input type="reset" id="reset" name="reset" value="@Resources.Reset" class="btn" />
        <a href="@Url.Content("~/Admin/Course")" class="btn btn-default">@Resources.Back</a>
    </div>
}